body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1057px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
.u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u13 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
.u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
.u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u15 {
  position:absolute;
  left:200px;
  top:0px;
  width:168px;
  height:30px;
}
.u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
.u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u17 {
  position:absolute;
  left:368px;
  top:0px;
  width:142px;
  height:30px;
}
.u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
.u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u19 {
  position:absolute;
  left:510px;
  top:0px;
  width:100px;
  height:30px;
}
.u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
.u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u21 {
  position:absolute;
  left:610px;
  top:0px;
  width:100px;
  height:30px;
}
.u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
.u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.309803921568627);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:30px;
}
.u23_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 102, 255, 0.266666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u23.selected {
}
.u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
.u25 {
  position:absolute;
  left:20px;
  top:7px;
  width:60px;
  height:16px;
}
.u26 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
.u25_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:30px;
}
#u10-2 {
  position:absolute;
  left:0px;
  top:30px;
  width:710px;
  height:30px;
}
#u10-3 {
  position:absolute;
  left:0px;
  top:60px;
  width:710px;
  height:30px;
}
#u10-4 {
  position:absolute;
  left:0px;
  top:90px;
  width:710px;
  height:30px;
}
#u10-5 {
  position:absolute;
  left:0px;
  top:120px;
  width:710px;
  height:30px;
}
#u10-6 {
  position:absolute;
  left:0px;
  top:150px;
  width:710px;
  height:30px;
}
#u10-7 {
  position:absolute;
  left:0px;
  top:180px;
  width:710px;
  height:30px;
}
#u10-8 {
  position:absolute;
  left:0px;
  top:211px;
  width:710px;
  height:30px;
}
#u10-9 {
  position:absolute;
  left:0px;
  top:241px;
  width:710px;
  height:30px;
}
#u10-10 {
  position:absolute;
  left:0px;
  top:271px;
  width:710px;
  height:30px;
}
#u10-11 {
  position:absolute;
  left:0px;
  top:301px;
  width:710px;
  height:30px;
}
#u10-12 {
  position:absolute;
  left:0px;
  top:331px;
  width:710px;
  height:30px;
}
#u10-13 {
  position:absolute;
  left:0px;
  top:361px;
  width:710px;
  height:30px;
}
#u10-14 {
  position:absolute;
  left:0px;
  top:391px;
  width:710px;
  height:30px;
}
#u10-15 {
  position:absolute;
  left:0px;
  top:422px;
  width:710px;
  height:30px;
}
#u10-16 {
  position:absolute;
  left:0px;
  top:452px;
  width:710px;
  height:30px;
}
#u10-17 {
  position:absolute;
  left:0px;
  top:482px;
  width:710px;
  height:30px;
}
#u10-18 {
  position:absolute;
  left:0px;
  top:512px;
  width:710px;
  height:30px;
}
#u10-19 {
  position:absolute;
  left:0px;
  top:542px;
  width:710px;
  height:30px;
}
#u10-20 {
  position:absolute;
  left:0px;
  top:572px;
  width:710px;
  height:30px;
}
#u10-21 {
  position:absolute;
  left:0px;
  top:603px;
  width:710px;
  height:30px;
}
#u10-22 {
  position:absolute;
  left:0px;
  top:633px;
  width:710px;
  height:30px;
}
#u10-23 {
  position:absolute;
  left:0px;
  top:664px;
  width:710px;
  height:30px;
}
#u10-24 {
  position:absolute;
  left:0px;
  top:695px;
  width:710px;
  height:30px;
}
#u10-25 {
  position:absolute;
  left:0px;
  top:725px;
  width:710px;
  height:30px;
}
#u10-26 {
  position:absolute;
  left:0px;
  top:756px;
  width:710px;
  height:30px;
}
#u10-27 {
  position:absolute;
  left:0px;
  top:787px;
  width:710px;
  height:30px;
}
#u10-28 {
  position:absolute;
  left:0px;
  top:818px;
  width:710px;
  height:30px;
}
#u10-29 {
  position:absolute;
  left:0px;
  top:849px;
  width:710px;
  height:30px;
}
#u10-30 {
  position:absolute;
  left:0px;
  top:880px;
  width:710px;
  height:30px;
}
#u10-31 {
  position:absolute;
  left:0px;
  top:910px;
  width:710px;
  height:30px;
}
#u10-32 {
  position:absolute;
  left:0px;
  top:940px;
  width:710px;
  height:30px;
}
#u10-33 {
  position:absolute;
  left:0px;
  top:970px;
  width:710px;
  height:30px;
}
#u10-34 {
  position:absolute;
  left:0px;
  top:1000px;
  width:710px;
  height:30px;
}
#u10-35 {
  position:absolute;
  left:0px;
  top:1030px;
  width:710px;
  height:30px;
}
#u10-36 {
  position:absolute;
  left:0px;
  top:1060px;
  width:710px;
  height:30px;
}
#u10-37 {
  position:absolute;
  left:0px;
  top:1091px;
  width:710px;
  height:30px;
}
#u10-38 {
  position:absolute;
  left:0px;
  top:1121px;
  width:710px;
  height:30px;
}
#u10-39 {
  position:absolute;
  left:0px;
  top:1151px;
  width:710px;
  height:30px;
}
#u10-40 {
  position:absolute;
  left:0px;
  top:1181px;
  width:710px;
  height:30px;
}
#u10-41 {
  position:absolute;
  left:0px;
  top:1211px;
  width:710px;
  height:30px;
}
#u10-42 {
  position:absolute;
  left:0px;
  top:1241px;
  width:710px;
  height:30px;
}
#u10-43 {
  position:absolute;
  left:0px;
  top:1271px;
  width:710px;
  height:30px;
}
#u10-44 {
  position:absolute;
  left:0px;
  top:1301px;
  width:710px;
  height:30px;
}
#u10 {
  position:absolute;
  left:0px;
  top:243px;
  width:710px;
  height:1331px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u27 {
  position:absolute;
  left:7px;
  top:203px;
  width:136px;
  height:22px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u27_input:disabled {
  color:grayText;
}
#u28 {
  position:absolute;
  left:177px;
  top:203px;
  width:136px;
  height:22px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u28_input:disabled {
  color:grayText;
}
#u29 {
  position:absolute;
  left:351px;
  top:203px;
  width:136px;
  height:22px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u29_input:disabled {
  color:grayText;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  position:absolute;
  left:662px;
  top:203px;
  width:80px;
  height:22px;
}
#u31 {
  position:absolute;
  left:2px;
  top:3px;
  width:76px;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
}
#u32 {
  position:absolute;
  left:596px;
  top:203px;
  width:32px;
  height:22px;
}
#u33 {
  position:absolute;
  left:2px;
  top:3px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  position:absolute;
  left:525px;
  top:206px;
  width:61px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36 {
  position:absolute;
  left:788px;
  top:511px;
  width:80px;
  height:32px;
}
#u37 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u36_ann {
  position:absolute;
  left:861px;
  top:507px;
  width:1px;
  height:1px;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38 {
  position:absolute;
  left:788px;
  top:644px;
  width:80px;
  height:32px;
}
#u39 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40 {
  position:absolute;
  left:788px;
  top:600px;
  width:200px;
  height:24px;
}
#u41 {
  position:absolute;
  left:2px;
  top:4px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(153, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  position:absolute;
  left:788px;
  top:584px;
  width:200px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u44 {
  position:absolute;
  left:408px;
  top:41px;
  width:257px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#000000;
}
#u46 {
  position:absolute;
  left:0px;
  top:96px;
  width:300px;
  height:55px;
  font-size:28px;
  color:#000000;
}
#u46_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#000000;
}
#u46.selected {
}
#u47 {
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  word-wrap:break-word;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#000000;
}
#u48 {
  position:absolute;
  left:379px;
  top:96px;
  width:300px;
  height:55px;
  font-size:28px;
  color:#000000;
}
#u48_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#000000;
}
#u48.selected {
}
#u49 {
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  word-wrap:break-word;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#000000;
}
#u50 {
  position:absolute;
  left:757px;
  top:96px;
  width:300px;
  height:55px;
  font-size:28px;
  color:#000000;
}
#u50_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#000000;
}
#u50.selected {
}
#u51 {
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  word-wrap:break-word;
}
